[Unit]
PartOf=graphical-session.target

[Service]
ExecStart=/bin/mako --width 250 --height 250
Restart=on-failure
PrivateTmp=true
RestartSec=2s
NoNewPrivileges=true

[Install]
WantedBy=sway-session.target
