[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 300 'swaylock --indicator-radius 100 -f -i /home/haden/Downloads/dragon.jpg' \
            timeout 600 'swaymsg "output * dpms off"' \
                resume 'swaymsg "output * dpms on"' \
            before-sleep 'swaylock --indicator-radius 100 -f -i /home/haden/Downloads/dragon.jpg'
Restart=on-failure
PrivateTmp=true
RestartSec=2s

[Install]
WantedBy=sway-session.target
