[Unit]
Description=Screen locker for Wayland
OnSuccess=unlock.target
PartOf=lock.target
After=lock.target

[Service]
Type=forking
ExecStart=/usr/bin/swaylock -p -f --screenshots --clock --indicator --indicator-radius 100 --indicator-thickness 7 --effect-blur 7x5 --ring-color 1A5FB4 --key-hl-color C78038 --text-color FFFFFF --line-color 00000000 --inside-color 00000088 --separator-color 00000000 --timestr "%%l:%%M%%p"
Restart=on-failure
RestartSec=0

[Install]
WantedBy=lock.target
