[Unit]
After=display-manager.service

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=always
PrivateTmp=true
RestartSec=1s
NoNewPrivileges=true

[Install]
WantedBy=default.target
