[Unit]
After=display-manager.service

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
PrivateTmp=true
RestartSec=2s
NoNewPrivileges=true

[Install]
WantedBy=default.target
