[Unit]
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=always
PrivateTmp=true
RestartSec=1s
NoNewPrivileges=true

[Install]
WantedBy=sway-session.target
