[Unit]
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
PrivateTmp=true
RestartSec=2s

[Install]
WantedBy=sway-session.target
